<div class="page_part" id="<%= new_part ? "page_part_new_#{part_index}" : part.to_param %>">
  <p class="ckeditor-contextual">
    <%= link_to(t(:button_ckeditor_add_image, :scope => [:ckeditor]), ckeditor_admin_ckeditor_attachments_dialog_images_path(:for_editor => "page_parts_attributes_#{part_index}_body"), :remote => true, :class => 'add_icon', :title => t(:title_ckeditor_add_image, :scope => [:ckeditor])) %>
  </p>
  <%= hidden_field_tag "page[parts_attributes][#{part_index}][title]", part.title if new_part %>
  <%= text_area_tag "page[parts_attributes][#{part_index}][body]", part.body, :rows => 40, :class => "wysiwyg widest", :data => { :body_class => part.to_param } %>
  <%= hidden_field_tag "page[parts_attributes][#{part_index}][position]", part_index if new_part %>
</div>
