.page_part{:id => new_part ? "page_part_new_#{part_index}" : part.to_param}
  = hidden_field_tag "page[parts_attributes][#{part_index}][title]", part.title if new_part
  = text_area_tag "page[parts_attributes][#{part_index}][body]", part.body, :rows => 20, :class => "wysiwyg widest", :data => { :body_class => part.to_param }
  = hidden_field_tag "page[parts_attributes][#{part_index}][position]", part_index if new_part

  .rightbar
    %ul
      %li= link_to "Images", "#images_container"
      %li= link_to "Files", "#files_container"

    #files_container
      %p
        %b Drag and drop these files into the editor:
      %ul
        - Refinery::Resource.all.each do |resource|
          %li= link_to resource.title, resource.url

    #images_container
      %p
        %b Drag and drop these images into the editor:
      %ul
        - Refinery::Image.all.each do |image|
          %li
            .box_of_holding= image_tag image.url
            = image.title
